html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  scrollbar-color: #d0d9e0 #fafbfc;
  scrollbar-width: thin;
}

header,
nav,
main {
  width: 100%;
}

.swiper {
  border-radius: 15px;
  overflow: hidden;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  left: unset !important;
  width: fit-content !important;
  right: 20px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 5px;
  transition: width 300ms ease;
}
@media only screen and (max-width: 600px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    right: 10px;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 331px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    right: 5px;
  }
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafbfc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d0d9e0;
  border-radius: 10px;
  min-height: 10px;
}
